/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

body {
  background-color: red;
}

.dropdown-menu {
  width: 300px;
}

.bg_grey {
  background-color: #ccc;
}

.logo_image {
  float: left;
  width: 48px;
  height: 48px;
  padding: 0px 0px 0px 30px;
  background-image: url('/assets/tmp.jpg');
  background-repeat: no-repeat;
}
